.spending {
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    padding: 120px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}

@media screen and (max-width: 425px) {
    .spending {
        width: 400px;
        height: 96px;
        font-family: 'Clash Grotesk';
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        padding: 24px 14px;
        line-height: 30px;
        text-align: center;
        color: #000000;
        margin-bottom: 100px;
    }
}