.spending {
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    padding: 120px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}

